<div id="about">

    <div class="caption">

        <div class="profilPhoto"></div>
        <div class="profilText">
            <hr>
            Développeur dans l'âme, je suis un pationné d'informatique et de tout ce qui gravite autour
            (particulièrement de la tasse à café qui n'est jamais loin) résidant à NANTES. <br><br>
            J'ai démarré mon activité professionnel avec des projets JAVA du secteur public et de l'énergie.<br>
            Toujours en recherche de nouveau challenge et après 8 ans de Java, je
            souhaite aujourd'hui concentrer mon attention et mes efforts sur la programmation Javascript avec les
            technologies AngularJS et NodeJS.<br><br>

            Ce site à pour vocation de vous offrir une description la plus détaillée possible de mes expériences
            professionnel et de mes compétences. A ce titre, je vous souhaite une bonne visite.
            <br><br>N.B : Le site est en cours de réalisation, vous pouvez suivre son avancement sur mon Twitter
            @Sebastien_LM
            <br>
            <hr>
        </div>
    </div>
</div>