<div id="header">
    <div class="header">
        <ul class="slide">
            <li class="titre">
                <div class="caption">
                    <h1>SEBASTIEN LE MOUILLOUR</h1>
                    <p>Développeur Web</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<header id="header2" class="base">

    <!--Main header-->
    <div class="mainHeader default" style="display: block;">


        <!--Container-->
        <div class="containerX clearfix">


            <a href="#" class="mobileBtn"><i class="fa fa-bars"></i></a>
            <div class="six columns nav first">
                <!--Navigation-->
                <nav class="mainNav">

                    <ul>
                        <li><a class="scroll" href="#wrapper">home</a></li>
                        <li><a class="scroll" href="#about">about</a></li>
                        <li><a class="scroll" href="#resume">resume</a></li>

                    </ul>

                </nav>
                <!--End navigation-->

            </div>

            <div class="four columns headerSocials">
                <ul>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
            </div>


            <div class="six columns nav second">
                <!--Navigation-->
                <nav class="mainNav">

                    <ul>
                        <li><a class="scroll" href="#portfolio">Portfolio</a></li>
                        <li><a class="scroll" href="#blog">BLog</a></li>
                        <li><a class="scroll" href="#contact">Contact</a></li>

                    </ul>

                </nav>
                <!--End navigation-->

            </div>

        </div>
        <!--End container-->

    </div>
    <!--End main header-->

</header>