<div id="header">
    <div class="profileTeaser">

        <!--teaser-->
        <div class="teaser">

            <ul class="slide">

                <li class="parallax"
                    style="height: 339px; background-image: url(img/header.jpg); background-position: 100% 0px;">
                    <code>Site en cours de réalisation</code>

                    <div class="caption">
                        <idv class="profilPhoto"></idv>
                        <div class="profilText">
                            <h1>SEBASTIEN LE MOUILLOUR</h1>

                            <h3>Développeur Web</h3>
                        </div>
                    </div>
                </li>

            </ul>

        </div>
        <!--End teaser-->
    </div>
</div>
