<div id="experience" ng-controller="ExperienceController">
    <div class="explist">
        <div class="titre-section">Expérience</div>

        <div class="vignettes blur">
            <a class="vignette" ng-repeat="mission in experience.listExperiences"
               ng-click="experience.projet=mission.projet;experience.vignetteActive=$index;"
               ng-class="{active:experience.vignetteActive===$index}"
               style="background-image: url({{mission.vignette}})"> </a>
        </div>
    </div>
    <div class="detail">
        <div ng-repeat="mission in experience.listExperiences" ng-if="experience.projet===mission.projet"
             class="slide-animation">
            <div class="exp-bloc1">
                <div class="description-Titre">Description du projet :</div>
                <div class="description-Detail" ng-bind-html="experience.validHTML(mission.descriptionProjet)"></div>
                <div class="description-Titre">Description de la mission :</div>
                <div class="description-Detail" ng-bind-html="experience.validHTML(mission.descriptionMission)"></div>
            </div>
            <div class="exp-bloc2">
                <div class="description-Titre">Détail du poste :</div>
                <div class="poste">{{mission.poste}}</div>
                <div class="description-Titre">Dates :</div>
                <div class="duree">{{mission.date}}</div>
                <div class="description-Titre">Taille de l'équipe :</div>
                <div class="duree">{{mission.effectif}}</div>
                <div class="description-Titre">Environnement technique :</div>
                <div class="techno">
                    <ul>
                        <li>Java, Hibernate, SpringMVC, SpringBatch</li>
                        <li>Flex, AngularJS</li>
                        <li>Oracle,MySQL</li>
                        <li>AutoIt</li>
                        <li>HP Quality Center, Mantis</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>