<div id="about">
    <div class="caption">
        <div class="profilPhoto"><img class="photo" src="/img/profil2.jpg"></div>
        <div class="profilText">
            Sébastien LE MOUILLOUR - Développeur WEB
            <hr>
            <p>Développeur dans l'âme résidant à NANTES, je suis un passionné d'informatique et de tout ce qui gravite
                autour.</p>

            <p>J'ai démarré mon activité professionnelle avec des projets JAVA du secteur public et de l'énergie.<br>
                Toujours en recherche de nouveaux challenges et après 8 ans de Java, je
                souhaite aujourd'hui concentrer mon attention et mes efforts sur la programmation Javascript avec les
                technologies AngularJS et NodeJS.</p>

            <p>Ce site a pour vocation de vous offrir une description la plus détaillée possible de mes expériences
                professionnelles et de mes compétences. A ce titre, je vous souhaite une bonne visite.</p>
            <hr>
        </div>
    </div>
</div>