<div class="about">
    <div class="caption">
        <div class="profilPhoto"><img class="photo" src="/img/profil2.jpg"></div>
        <div class="profilText">
            Sébastien LE MOUILLOUR - Développeur WEB
            <hr>
            <p>Développeur avec 8 ans d'expériences, je suis actuellement référent technique pour projet d'environ 40
                personnes.</p>

            <p>Passionné d'informatique, mon métier m'offre l'opportunité de rechercher et de concevoir des solutions
                pour répondre aux besoins clients. De nature curieuse, j'observe avec attention l'évolution des
                technologies qui apparaissent sur le marché.</p>

            <p>Ce site a pour vocation de vous offrir une description la plus détaillée possible de mes expériences et
                de mes compétences. A ce titre, je vous souhaite une bonne visite.</p>
            <hr>
        </div>
    </div>
</div>