<header id="header" class="base">

    <!--Main header-->
    <div class="mainHeader default">


        <!--Container-->
        <div class="container clearfix">


            <a href="#" class="mobileBtn"><i class="fa fa-bars"></i></a>

            <div class="six columns nav first">
                <!--Navigation-->
                <nav class="mainNav">

                    <ul>
                        <li><a class="scroll" href="#home">Home</a></li>
                        <li><a class="scroll" href="#experience">Experience</a></li>
                        <li><a class="scroll" href="#competence">Competence</a></li>
                        <li><a class="scroll" href="#contact">Contact</a></li>
                    </ul>

                </nav>
                <!--End navigation-->

            </div>

        </div>
        <!--End container-->

    </div>
    <!--End main header-->

</header>