<div id="menu" ng-controller="MenuController">
    <header sticky class="base">

        <!--Main header-->
        <div class="mainHeader default">


            <!--Container-->
            <div class="container clearfix">


                <a href="#" class="mobileBtn"><i class="fa fa-bars"></i></a>

                <div class="items">
                    <!--Navigation-->
                    <nav class="mainNav">
                        <ul style="margin-bottom: 0;">
                            <li><a du-smooth-scroll du-scrollspy href="#header">Home</a></li>
                            <li><a du-smooth-scroll du-scrollspy href="#about">About</a></li>

                            <li><a href="https://twitter.com/sebastien_lm" target="_blank"><i
                                    class="fa fa-twitter fa-2x"></i>
                            </a></li>
                            <li><a href="http://sebastien-lemouillour.fr/gitweb/" target="_blank"><i
                                    class="fa fa-github fa-2x"></i></a></li>
                            <li><a href="http://fr.linkedin.com/in/SebastienLeMouillour" target="_blank"><i
                                    class="fa fa-linkedin fa-2x"></i></a></li>
                            <li><a href="mailto:sebastien.lemouillour@gmail.com?subject=S-LM.fr : prise de contact"
                                   target="_blank"><i class="fa fa-envelope-o fa-2x"></i></a></li>
                            <li><a du-smooth-scroll du-scrollspy href="#experience">Experience</a></li>
                            <li><a du-smooth-scroll du-scrollspy href="#competence">Competences</a></li>

                        </ul>
                    </nav>
                    <!--End navigation-->

                </div>

            </div>
            <!--End container-->

        </div>
        <!--End main header-->

    </header>
</div>