<slm-header></slm-header>
<slm-experience></slm-experience>
<slm-competence></slm-competence>
<slm-contact></slm-contact>
<br><br><hr/><br><hr/>
<div class="row">
    <div class="col-xs-12 col-sm-3">
        <a class="twitter-timeline" href="https://twitter.com/Sebastien_LM" data-widget-id="585386186497249280">Tweets
            de
            @Sebastien_LM</a>
        <script>!function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + "://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");</script>
    </div>
    <div class="col-xs-12 col-sm-9">
        <slm-Experience></slm-Experience>
    </div>
</div>