<div id='experience' class="experience">
    <div class="mission">
        <div class="mission-ico">
            <span></span>
        </div>
        <div class="mission-detail">
            <h3 class="mission-titre">TEAM Leader, Steria (ERDF)</h3>

            <p class="mission-desc">Dans l'optique de la migration de l'activité de développement de Paris à Nantes, une
                équipe de 4 personnes a été créée. J'ai pour rôle de coordonner le travail de l'équipe Nantaise avec le
                CP Parisien.
                Le poste a évolué en suivant la croissance du projet (passage de 4 à 40 personnes). Dans un premier
                temps chef de projet évolution adjoint puis chef de projet MCO.
            </p>

            <div class="mission-date">2013 - 2015</div>
        </div>
    </div>
    <div class="mission">
        <div class="mission-ico">
            <span></span>
        </div>
        <div class="mission-detail">
            <h3 class="mission-titre">Ingénieur d'étude et développement, Steria (POLE-EMPLOI)</h3>

            <p class="mission-desc"></p>

            <div class="mission-date"></div>
        </div>
    </div>
    <div class="mission">
        <div class="mission-ico">
            <span></span>
        </div>
        <div class="mission-detail">
            <h3 class="mission-titre">Ingénieur d'étude et développement, Steria (Ministère de l'intérieur)</h3>

            <p class="mission-desc"></p>

            <div class="mission-date"></div>
        </div>
    </div>
    <div class="mission">
        <div class="mission-ico">
            <span></span>
        </div>
        <div class="mission-detail">
            <h3 class="mission-titre">Développeur/Formateur, Im'Info</h3>

            <p class="mission-desc"></p>

            <div class="mission-date"></div>
        </div>
    </div>
</div>