<div id='experience'>

    <li class="exp-mission">TEAM Leader, Steria (ERDF)
        <ul>
            <li class="exp-mission-date"></li>
            <li class="exp-mission-desc"></li>
            <li class="exp-mission-techno"></li>
        </ul>
    </li>

    <li class="exp-mission">Ingénieur d'étude et développement, Steria (POLE-EMPLOI)
        <ul>
            <li class="exp-mission-date"></li>
            <li class="exp-mission-desc"></li>
            <li class="exp-mission-techno"></li>
        </ul>
    </li>
    <li class="exp-mission">Ingénieur d'étude et développement, Steria (POLE-EMPLOI)
        <ul>
            <li class="exp-mission-date"></li>
            <li class="exp-mission-desc"></li>
            <li class="exp-mission-techno"></li>
        </ul>
    </li>
    <li class="exp-mission">Ingénieur d'étude et développement, Steria (Ministère de l'intérieur)
        <ul>
            <li class="exp-mission-date"></li>
            <li class="exp-mission-desc"></li>
            <li class="exp-mission-techno"></li>
        </ul>
    </li>
    <li class="exp-mission">Développeur/Formateur, Im'Info
        <ul>
            <li class="exp-mission-date"></li>
            <li class="exp-mission-desc"></li>
            <li class="exp-mission-techno"></li>
        </ul>
    </li>
    </ul>
</div>