<div id="header">
    <div class="profileTeaser">
        <!--teaser-->
        <div class="teaser">
            <ul class="slide" style="margin-bottom: 0;">
                <li class="parallax"
                    style="height: 339px; background-image: url(imgs/header.jpg); background-position: 100% 0px;">
                    <div class="caption">
                        <h1>SEBASTIEN LE MOUILLOUR</h1>

                        <h3>Développeur Web</h3>
                    </div>
                </li>
            </ul>
        </div>
        <!--End teaser-->
    </div>
</div>
